<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>所有店铺</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/nctouch_products_list.css">
<style type="text/css">
.nctouch-footer-wrap { margin:0 auto; max-width:640px;}
</style>
</head>
<body>
<header id="header" class="fixed fixed-Width">
  <div class="header-wrap">
  	<div class="header-l"><a href="javascript:history.go(-1)"><i class="back"></i></a></div>
    <div class="header-tab"><a href="shop.html">所有店铺</a><a href="shop_class.html" class="cur">店铺分类</a></div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div>
  </div>
  <div class="nctouch-nav-layout">
    <div class="nctouch-nav-menu"> <span class="arrow"></span>
      <ul>
        <li><a href="index.html"><i class="home"></i>首页</a></li>
        <li><a href="tmpl/search.html"><i class="search"></i>搜索</a></li>
        <li><a href="tmpl/product_first_categroy.html"><i class="categroy"></i>分类</a></li>
        <li><a href="tmpl/cart_list.html"><i class="cart"></i>购物车<sup></sup></a></li>
        <li><a href="javascript:void(0);"><i class="message"></i>消息<sup></sup></a></li>
        <li><a href="tmpl/member/member.html"><i class="member"></i>我的商城</a></li>
      </ul>
    </div>
  </div>
</header>
<div class="nctouch-main-layout fixed-Width">
      <ul class="favorites-store-list" id="categroy-cnt"></ul>
</div>
<footer id="footer"></footer>
</body>
</body>
<script type="text/html" id="category-one">
	<ul class="categroy-list">
		<% for(var i = 0;i<class_list.length;i++){
		var locUrl = "";
		if(class_list[i]['sc_id'].toString().length >0) {
			locUrl = WapSiteUrl+"/shop.html?sc_id="+class_list[i]['sc_id'].toString();
		}else {
			locUrl = WapSiteUrl+"/index.html";
		}
		%>
		 <li>
            <a href="<%=locUrl%>">
                <dl class="store-info" style="margin-left:10px;">
                    <dt class="store-name"><%=class_list[i]['sc_name'].toString() %></dt>
                </dl>
            </a>
        </li>
	
		<% } %>
	</ul>
</script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/shop_class.js"></script>
</html>