/**
 * 定义买家中心样式
/* ================================ */
/* Author:			33hao	    	*/
/* Support Site:	www.33hao.com	*/
/* Retrofit Date:	Aug-08-2016		*/
/* ================================ */
body {
	background-attachment: scroll;
	background-color: #BDF4FB;
	background-image: url(skin04/body_bg.jpg);
	background-repeat: no-repeat;
	background-position: center 80px;
}
